<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
	
<div class="wrap" layout:fragment="content">
	
	<div style="text-align: center;">
	<h2>회원 리스트</h2>
	</div>
	
	
	<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>회원넘버</th>
                <th>이메일(id)</th>
                <th>이름</th>
                <th>닉네임</th>
                <th>휴대폰번호</th>
                <th>성별</th>
                <th>생년월일</th>
                <th>프로필 사진</th>
                <th>가입날짜</th>
                <th>회원등급</th>
                <th>인증여부</th>
                <th>주소</th>
                <th>은행계좌</th>
                <th>인증정보</th>
                <th>인증일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="memList : ${memList}">
                <td th:text="${memList.num}"></td>
                <td th:text="${memList.email}"></td>
                <td th:text="${memList.name}"></td>
                <td th:text="${memList.nickname}"></td>
                <td th:text="${memList.tel}"></td>
                <td th:text="${memList.memgender}"></td>
                <td th:text="${memList.birthday}"></td>
                <td th:text="${memList.profilepic}"></td>
                <td th:text="${memList.mdate}"></td>
                <td th:text="${memList.grade}"></td>
                <td th:text="${memList.arstatus}"></td>
                <td th:text="${memList.addr}"></td>
                <td th:text="${memList.bankaccount}"></td>
                <td th:text="${memList.arprofile}"></td>
                <td th:text="${memList.bankaccount}"></td>
                <td th:text="${memList.ardate}"></td>
                <td th:text="${memList.roleType}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->
	
	
	
	
	
	
</div>