@charset "EUC-KR";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.wrap {
  width: 100%;
   height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 80px;
  border-top: 1px solid #cacaca;
  background-color: #f5f7fa;
 
}

.wrap .login_in {
  width: 40%;
  height:80%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px; 
  background-color: #fff;
}

.wrap .login_in #loginInfo{
	width:50%;
}

.wrap .login_in .login_info h2 {
  font-weight:bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
}

.wrap .login_in .login_info{
	width:100%;
	text-align: center;
}

/* .login_simple {
  width:100%;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}
 */
/* .login_simple li {
  padding: 0px 15px;
} */

/* .login_simple a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50px;
  background: white;
  font-size: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
} */

.wrap .login_in .login_info .login_email {
  margin-top: 20px;
  width: 100%;
}

.wrap .login_in .login_info .login_email input {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.wrap .login_in .login_info .login_pw {
  margin-top: 20px;
  width: 100%;
}

.wrap .login_in .login_info .login_pw input {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.wrap .login_in .login_info .login_etc {
  padding: 10px;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.wrap .login_in .login_info .login_etc .forgot_pw{display: flex;}
.wrap .login_in .login_info .login_etc .forgot_pw span{font-size: 13px; color: #b8b8b8;}
.wrap .login_in .login_info .to_join{
	display: flex;
	gap:130px;
	margin-top: 10px;
	align-items: flex-end;
	justify-content: center;
	
}

.wrap .login_in .login_info .to_join span{
	/* margin: 10px 0px;
	padding: 0 30px; */
	text-align: center;
	/* font-weight: bold; */
}
.wrap .login_in .login_info .to_join a{text-align: center;}

.wrap .login_in .login_info .to_join a:hover{font-weight: bold;}

.wrap .login_in .login_info .login_btn {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
.wrap .login_in .login_info .login_btn input {
  width: 100%;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 40px;
  background: linear-gradient(to left, rgb(61, 70, 252), rgb(150, 48, 254));
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.button {
	width: 80px;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: small;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	
	color: white;
	background-color: #a8e2ff;
	border: none;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.button:hover {
	background-color: #a8e2ff;
	
	color: #fff;
	
}
.button:focus{outline: 1px solid #fff;}

.submit-button {
	
	height: 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: bold;
	color: #fff;
	background-color: #a8e2ff;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	
	cursor: pointer;
	outline: none;
	width: 100%;
	}
	/*.wrap .login_in .login_info .login-icon{align-items: center;}
	.wrap .login_in .loginInfo .login-icon .icon_kakao {gap:10px; display:flex; justify-content: center; background-color: #F6E10A; width:100%; height:50px; border-radius: 10px; padding: 10px 10px; margin: 10px 0; text-align: center;}
	.wrap .login_in #loginInfo .loginInfo .login-icon .icon_kakao img {width:7%; width:30px; text-align: right;}
	.wrap .login_in #loginInfo .loginInfo .login-icon .icon_naver {gap:10px; display:flex; justify-content: center; background-color: #1EC800; width:100%; height:50px; border-radius: 10px; padding: 10px 10px; margin: 10px 0; text-align: center;}
	.wrap .login_in #loginInfo .loginInfo .login-icon .icon_naver img {width:7%; width:30px; text-align: right;}
	.wrap .login_in #loginInfo .loginInfo .login-icon .icon_google {gap:10px; display:flex; justify-content: center; background-color: #D32F2F; width:100%; height:50px; border-radius: 10px; padding: 10px 10px; margin: 10px 0; text-align: center;}
	.wrap .login_in #loginInfo .loginInfo .login-icon .icon_google img {width:7%; width:30px; text-align: right;}
 */
 
 /*말풍선 css*/
.speech-bubble {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: white;
    border: 2px solid #d4d4d4;
    border-radius: 30px;
    width: 200px;
    height: 40px;
   	margin-bottom: 10px;
    font-size:13px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /*그림자 효과 설정 */
}

.speech-bubble::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #d4d4d4 transparent transparent transparent;
}
/*말풍선 css 끝*/
.login_info .speech-bubble img {width:10%;}